@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient1 {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #8d37d8;
    --tw-gradient-to: #8d37d800;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #4469f300;
    --tw-gradient-stops: var(--tw-gradient-from),#4469f3,var(--tw-gradient-to);
    --tw-gradient-to: #4469f3;
    -webkit-background-clip: text;
    background-clip: text;
    color: #fff0;
}

.hide-overflow {
    overflow-y: hidden !important;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
  }

  @layer base {
    .title-gradient {
        @apply bg-clip-text bg-gradient-to-l from-purple-400 to-blue-600 text-transparent text-7xl font-bold;
    }
      .select2-dropdown {
        @apply rounded-b-lg shadow-md;
      }
      .select2-search {
        @apply border border-gray-300 rounded;
      }
      .select2-results__group {
        @apply text-lg font-bold text-gray-900;
      }

  }


