@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-overflow {
    overflow-y: hidden !important;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
  }

  .select2-dropdown {
    @apply rounded-b-lg shadow-md;
  }
  .select2-search {
    @apply border border-gray-300 rounded;
  }
  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }


